<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89083751197-kcrfk1vqoik9n76kcoqd8hgat727mq3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89083751197-kcrfk1vqoik9n76kcoqd8hgat727mq3q</string>
	<key>API_KEY</key>
	<string>AIzaSyAOkmcTxAQU35Qb7mgRKBdhcAlbqSl5z0k</string>
	<key>GCM_SENDER_ID</key>
	<string>89083751197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vidao.interview.chat.VDMChat</string>
	<key>PROJECT_ID</key>
	<string>vdmchat</string>
	<key>STORAGE_BUCKET</key>
	<string>vdmchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89083751197:ios:3097dec2f9e55c28</string>
	<key>DATABASE_URL</key>
	<string>https://vdmchat.firebaseio.com</string>
</dict>
</plist>